@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cabin:ital,wght@0,400..700;1,400..700&family=Darumadrop+One&family=Oswald:wght@200..700&family=Passion+One:wght@400;700;900&family=Playpen+Sans:wght@100..800&family=Playwrite+VN:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sriracha&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

html, body{
    background-color: darkgray;
    min-height: 100vh;
    font-family: "Darumadrop One", Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1.5rem;
}

header{
    background-color: black;
    color: white;
    text-align: center;    
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
}

header > p{
    padding-bottom: 50px;
}

a{
    color: white;
    text-decoration: none;
}

.em-branco{
    background-color: white;
}

.imagem{
    background-color: rgb(65, 62, 62) ;
    color:white;

}

section.imagem > p{
    width: 800px;
    background-color: rgba(0, 0, 0, 0.205);
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 1.7rem;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
}