@charset "utf-8";
/* CSS Document */

*{
    margin: 0;
    padding: 0;
}

html, body{
    background-color: darkgray;
    min-height: 100vh;
}

header{
    background-color: black;
    color: white;
    text-align: center;    
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
}

header > p{
    padding-bottom: 50px;
}

a{
    color: white;
    text-decoration: none;
}

.em-branco{
    background-color: white;
}

.imagem{
    background-color: rgb(65, 62, 62) ;
    color:white;

}

section.imagem > p{
    width: 400px;
    background-color: rgba(0, 0, 0, 0.205);
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}