@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cabin:ital,wght@0,400..700;1,400..700&family=Darumadrop+One&family=Oswald:wght@200..700&family=Passion+One:wght@400;700;900&family=Playpen+Sans:wght@100..800&family=Playwrite+VN:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sriracha&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --cor-primaria: #6F98F7;
    --cor-secundaria: #9E6FF7;
    --cor-fundo: #C3C2F7;
}

html, body{
    background-color: var(--cor-fundo);
    min-height: 100vh;
    font-family: "Darumadrop One", Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1.5rem;
}

header{
    background-color: var(--cor-secundaria);
    color: white;
    text-align: center;    
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 10vw;
}

header > p{
    padding-bottom: 50px;
}

a{
    color: white;
    text-decoration: none;
}

.em-branco{
    background-color: white;
}

.imagem{
    background-color: var(--cor-primaria);
    color:white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.685);
    background-attachment: fixed;

}

section.imagem > p{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.514);
    padding: 10px;
    text-shadow: 1px 1px 0px black;
    
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3.5vw;
}

footer{
    background-color: var(--cor-secundaria);
    color: white;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 1rem;
}

section > p{
    padding-bottom: 2rem;
}

section#imagem1{
    background-image: url(imagens/pngwing.com.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fcf5f5;
}   

section#imagem2{
    background-image: url(imagens/trabalho-de-programador-de-estilo-de-desenho-animado_52683-22715.PNG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fcf5f5;
}